<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BKI_DichVuMatDat.Properties.Settings.BKI_DVMDConnectionString" connectionString="Data Source=27.118.16.60;Initial Catalog=DVMD;Persist Security Info=True;User ID=sa;Password=BK!ndEx-2k15" providerName="System.Data.SqlClient" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 12.0;HDR={1}'" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="BKI_DVMDEntities" connectionString="metadata=res://*/EF.ModelDVMD.csdl|res://*/EF.ModelDVMD.ssdl|res://*/EF.ModelDVMD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.118.16.97;initial catalog=BKI_DVMD_V2;persist security info=True;user id=sa;password=123@bcdE.!@#_ATT;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="DISK_LOCATION" value="D:\DB" />
    <add key="RUN_MODE" value="DEVELOP" />
    <add key="MA_DON_VI" value="GEN" />
    <add key="MA_HE_THONG" value="KT" />
    
    <!--<add key="SERVER" value="27.118.16.60" />
    <add key="INITIAL_DATABASE" value="DVMD" />
    <add key="FILL_DATABASE" value="DVMD" />
    <add key="DATABASE_ACCESS_MODE" value="USER_AND_PASSWORD" />
    <add key="INITIAL_USER" value="sa" />
    <add key="PASS_WORD" value="BK!ndEx-2k15" />-->

    <!--<add key="SERVER" value="DESKTOP-UVLC2RI\SQLEXPRESS" />
    <add key="INITIAL_DATABASE" value="BKI_DVMD" />
    <add key="FILL_DATABASE" value="BKI_DVMD" />
    <add key="DATABASE_ACCESS_MODE" value="USER_AND_PASSWORD" />
    <add key="INITIAL_USER" value="sa" />
    <add key="PASS_WORD" value="sa" />-->
    
    <add key="SERVER" value="27.118.16.60" />
    <add key="INITIAL_DATABASE" value="DVMD_TEST" />
    <add key="FILL_DATABASE" value="DVMD_TEST" />
    <add key="DATABASE_ACCESS_MODE" value="USER_AND_PASSWORD" />
    <add key="INITIAL_USER" value="sa" />
    <add key="PASS_WORD" value="BK!ndEx-2k15" />
    
    
    <add key="DESTINATION_NAME" value="G:\ShareImages\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
